body #content{
    padding-top: 80px;
    padding-bottom: 70px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
}

.panel.sc-panel .sc-card-header h2{
    margin-left: 0px;
}

.sc-card-label-large{
    font-size: 100%;
    color: #b0b0b0;
    margin-bottom: 4px;
}

.sc-card-value-large{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 150%;
    color: #353535;
}

.sc-card-value-small{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 100%;
    color: #353535;
}

.sc-card-notes-header {
    position: relative;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color:  #e5ebec;
}

.sc-card-notes-details {
    padding: 18px 6px;
    min-height: 20px;
}

.pixel-panel{
    margin-bottom: 2px;
}

.sc-profile-photo {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.navbar-default {
    background-color:  #1a707f
}

.navbar-center {
    margin: auto;
    float: right;
    position: relative;
    left: -50%;
    text-align: left;
}

.navbar-brand{
    cursor: default;
}

.dropdown-toggle{
    cursor: default;
}

canvas {
    padding: 0px 30px 0px 0px;
}

#global-header {
    text-shadow: 2px 1px 1px rgba(82,99,102,1);
    letter-spacing: 2px;
    color: #f8f6f8;
    cursor: default;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
}

#global-header #context {
    border-right: 0px;
    color: #f8f6f8;
    cursor: default;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
}

#global-header #username {
    border-right: 0px;
    color: #e5ebec;
    cursor: default;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    padding-right: 0px;
    margin-right: 0px;
}
#global-header #brand-name{
    border-right: 0px;
    color: #f8f6f8;
    cursor: default;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    padding-right: 10px;
}

#global-header #initiative-name{
    border-left: 1px solid #eeeeee;
    border-right: 0px;
    color: #e5ebec;
    cursor: default;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    font-stretch: normal;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
}

.green{
    color: #00ff00;
}
.red{
    color: #ff0000;
}
