<!doctype html>
{% load static from staticfiles %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/irishcream.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="icon" type="img/ico" href="{% static 'media/favicon.png' %}">
    <script src="{% static 'dist/js/bundle.js' %}"></script>
    <title>SocialCode Labs</title>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" id="global-header">
        <div class="container">
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" id="context"></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-center">
                    <li class="dropdown">
                      <a href="#" class="navbar-brand"><img src="{% static 'media/logomark-white.png' %}" /></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#">
                            <span id="username">{{user.email}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="header-toolbar"></div>
    <div id="content" class="container">{% block content %}{% endblock %}</div>
  </body>
</html>
