<div class="panel sc-panel">
    <div class="sc-card-header">
        <div class="sc-card-details">
            <div class="col-md-3">
                <div class="sc-card-label-large">
                    Brand
                </div>
                <div class="sc-card-value-large">
                    {{brand_name}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="sc-card-label-large">
                    Initiative
                </div>
                <div class="sc-card-value-large">
                    <a href="{{slug}}/">{{name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
